
<% if !!session[:username] %>
  <%= "hi, #{session[username]}" %>
  <form action="/logout">
    <input type="submit" value="logout"/>
  </form>
<% else %>
  <form action="/login">
    <input type="submit" value="login"/>
  </form>
